.c-hero {
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background: url('../../img/hero-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.c-hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.c-hero__inner__title {
  color: white;
  font-family: Avenir Next;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: -2.2px;
  text-align: center;
  margin-top:auto;
  
  @media screen and (max-width: 999px) {
    font-size: 32px;
    line-height: 48px;
  }

  & span {
    display: block;
    font-size: 216px;
    margin: 50px 0;
    letter-spacing: -8.6px;
    color: transparent;
    -webkit-text-stroke: 6px white;
    text-stroke: 6px white;

    @media screen and (max-width:999px) {
      font-size: 120px;
      margin: 20px 0;
      letter-spacing: -4px; 
      -webkit-text-stroke: 3px white;
      text-stroke: 3px white;
    }

    @media screen and (max-width: 639px) {
     font-size: 60px;
     margin: 0;
     letter-spacing: -3px;
     -webkit-text-stroke: 2px white;
     text-stroke: 2px white;
    }

  }
}

.c-hero__links {
  position: absolute; 
  display: flex;
  flex-direction: column;
  bottom:0;
  align-items: center;
  justify-items: center;
  margin-bottom:32px;
}

.c-hero__btn {
  margin-top:auto;
  margin-bottom:50px;
}

.c-hero__down-arrow {
  width: 33px;
  display: inline-block;
  margin:auto;
}